.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  margin-left: 500px;
  gap: 30px;
  text-align: center;
}
.about-image {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  rotate: 7deg;
  transition: 0.3s;
  cursor: pointer;
}
.image-background {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  background-color: var(--third-color);
  position: relative;
}
.about-image:hover {
  rotate: 0deg;
}
