.intro {
  background: linear-gradient(var(--secondary-color), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.mainIcon {
  position: absolute;
  left: calc(50% - 10rem);
  top: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  border-radius: 20%;
}
