.intro {
  background: linear-gradient(var(--secondary-color), transparent);
  width: 20rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.mainIcon {
  position: absolute;
  left: calc(50% - 10rem);
  top: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  border-radius: 20%;
}


.info {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.register, .login {
  display: block;
  margin: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.register {
  background-color: var(--secondary-color);
  border: none;

}

.login {
  background-color: transparent;
  font-weight: 600;
  color: white;
  border: white solid 2px;
}




.slogan {
  position: absolute;
  transform: translate(-50%, -50%) !important;
  left: 50%;
  top: 90%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
}

form div {
  width: 100%;
  margin-bottom: 1.2rem;
}

form label {
  display: block;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: left;
  padding-left: 0.5rem;
}

form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #fff;
}

form button {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  width: 100%;
}

form button:hover {
  background-color: #0056b3;
}

.intro form {
  position: relative;
  top: -3rem;
}

.intro h2 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}


.intro img, .intro h2 {
  position: relative;
  z-index: 2;
}

.container-register{
  padding: 20px;

}
.container-login{
  padding: 20px;
}

