@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #4c6085;
  --secondary-color: rgb(57, 160, 237);
  --third-color: rgb(54, 241, 205);
  --backup-color: #13c4a3;
}

body {
  /* height: 100vh; */
  /* color: #fff; */
  opacity: 0.9;
  background-image: radial-gradient(
      var(--primary-color) 0.5px,
      transparent 0.5px
    ),
    radial-gradient(var(--third-color) 0.7px, var(--primary-color) 0.9px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  font-family: "Outfit", sans-serif;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  animation: ease-in fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    transform: 1;
  }
}
